.wallet-header {
  background-color: #579dbd;
  color: white;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding-inline: 40px;
}

.wallet-header-div {
  align-items: center;
  display: flex;
  gap: 30px;
  justify-content: space-around;
  max-width: 50%;
}